.front-content {
  display: flex;
  width: 100%;
}

.front-content div:nth-child(1) {
  zoom: 1.2;
}

.front-content div:nth-child(2) {
  margin-right: 15px;
}

.front-sidebar {
  width: 43%;
}

@media screen and (max-width: 1024px) {
  .front-sidebar {
    display: none;
  }

  .sun-editor-editable {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
}
