.ads{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ads div{
  margin-top: 20px;
}

.ads div img{
  margin-top: 5px;
  width: 700px;
}



.crowdfunding img{
  height: 280px;
}



@media(max-width: 768px){
  .ads{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .ads div{
    margin: 20px 0;
  }
  
  .ads div img{
    margin-top: 5px;
    width: 100%;
  }


}