.sidebar-area {
  font-size: 20px;
  height: 100%;
}

.sidebar-area div {
  padding: 6px 0;
}

.sidebar-area div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.menu-posts {
  display: flex;
  align-items: center;
  height: 25px;
}

.sub-menu-posts {
  display: none;
}

.menu-posts:hover .sub-menu-posts {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
}

#exit {
  width: 100px;
}

@media (max-width: 768px) {
  .sidebar-area {
    font-size: 20px;
    height: 100%;
    margin-left: -27px;
  }

  .sidebar-area div {
    padding: 6px 0;
  }

  .sidebar-area div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }

  .menu-posts {
    display: flex;
    align-items: center;
    height: 25px;
  }

  .sub-menu-posts {
    display: flex;
    margin-left: 10px;
  }

  /* .menu-posts:hover .sub-menu-posts {
    display: flex;
    margin-left: 10px;
    font-size: 20px;
  } */

  #exit {
    width: 100px;
  }
}
