.tab-area {
  overflow: auto;
  margin: 125px;
  background-color: white;
  height: 407px;
}

.close-button-images-tab {
  position: absolute;
  top: 91px;
  right: 122px;
}

.close-button-images-tab:hover {
  cursor: pointer;
}

.thumbs {
  position: relative;
  display: inline-flex;
  width: 200px;
  height: 144px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.imgshow {
  width: 100%;
  height: 100%;
  margin-bottom: 21px;
  margin-left: 12px;
}

.imgshow:hover {
  cursor: pointer;
}

.button-delete-thumbs {
  position: absolute;
  top: 0;
  right: 0;
}
