.search-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  font-size: 20px;
}

.search-content {
  margin-top: 20px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.search-content-input {
  width: 50%;
  height: 50px;
  margin: 20px 0;
}

.search-content-items {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-sidebar {
  width: 400px;
  height: 100vh;
}

@media (max-width: 768px) {
  .search-content {
    margin-top: 20px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .search-content-input {
    display: none;
  }

  .search-sidebar {
    display: none;
  }
}

.not-found {
  width: 600px;
  margin: 20px 0;
}
