.logotype {
  padding: 0px 0;
}

.logotype img {
  width: 224px;
  height: 126px;
}

@media (max-width: 768px) {
  .logotype {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logotype img {
    width: 224px;
    height: 126px;
  }
}
