.newContent {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.newContent-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.newContent-field input,
.newContent-field select,
.newContent-field button {
  margin: 0 0px 20px;
  width: 200px;
}

.newContent-field input {
  width: 200px;
}

.newContent-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 709px;
}

.newContent-field img {
  width: 200px;
}

.newContent-field input:nth-child(3) {
  margin-right: 5px;
}

.schedule {
  display: none;
}

.schedule-show {
  display: block;
}

.option-category {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .newContent {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .newContent-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }

  .newContent-field input,
  .newContent-field select,
  .newContent-field button {
    margin: 0 0px 20px;
    width: 200px;
  }

  .newContent-field input {
    margin-right: 10px;
    width: 200px;
  }

  .newContent-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newContent-field img {
    width: 200px;
  }

  .newContent-field input:nth-child(3) {
    margin-right: 5px;
  }

  #schedule {
    display: none;
  }

  #schedule-show {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .newContent {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .newContent-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
